



<% include ../partials/boilerplate %>

<form class="edit-blah" action="/words/<%= word.id %>?_method=PUT" method="POST">
  <input id="edit" type="text" name="name" value="<%= word.examples %>" />

  <input class="edit-submit" type="submit" value="edit" />
</form>

<% include ../partials/end %>
