



<% include ../partials/boilerplate %>



<form action="<%= `/words/${word.id}?_method=PUT` %>" method="POST">
  <label for="title">edit this</label>
  <input id="edit" type="text" name="examples" value="<%= word.examples %>" />
  <input type="submit" value="Save changes" />
</form>


<a href="<%= `/words/${word.id}` %>">Cancel</a>

<% include ../partials/end %>



