<% include ../partials/boilerplate %>


<form action="<%= `/words/${word.id}?_method=PUT` %>" method="POST">
  <h2>Edit Sentence</h2>
  <input id="edit" type="text" name="examples" value="<%= word.examples %>" />
  <input type="submit" value="Save changes" />
</form>

<button><a href="<%= `/words/${word.id}` %>">Cancel</a></button>

<% include ../partials/end %>



