

<% include ../partials/boilerplate %>

<form action="/words/<%= word.id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= word.title %>" />

  <input type="submit" value="Update this!" />
</form>

<% include ../partials/end %>
