



<% include ../partials/boilerplate %>



<form action="<%= `/words/${editWord.id}?_method=PUT` %>" method="POST">
  <label for="title">edit the sentence</label>
  <input id="edit" type="text" name="name" value="<%= editWord.examples %>" />


    <br />

  <label for="title">word</label>
  <input id="title" type="text" name="word" value="<%= editWord.title %>" />

  <input type="submit" value="Save changes" />
</form>
<a href="<%= `/words/${editWord.id}` %>">Cancel</a>

<% include ../partials/end %>


