<%# views/words/index.ejs %>

<h1>search words</h1>

<form>

  <label for="word">Look up a word</label>
  <input id="word-retrieval" type="text" name="Look up a word" placeholder="word">

  <input type="submit" value="look up" />
</form>






<!-- <% words.forEach(word => { %>
  <div class="word">
    <h4>
        <%= word.word %>
      </a>
    </h4>
    <p><%= word.definition %></p>
  </div>
<% }) %> -->
