
<% include ../partials/boilerplate %>
  <div class="word">
    <h2><%= word.title %></h2>
    <h2><%= word.definition %></h2>

    <a href="<%= `/words/${word.id}/edit`%>">edit a how to use it in a sentence</a> |
    <form class="delete" action="/words/<%=word.id%>?_method=DELETE" method="POST">
       <input type="submit" value="Delete"/>
    </form>
  </div>
<% include ../partials/end %>
