<h1>hello</h1>


<% include ../partials/boilerplate %>


<% words.forEach(words => { %>
  <div class="word">
    <h4>
        <%= words.title %>
    </h4>
  </div>
<% }) %>

<% include ../partials/end %>





