<%# views/words/index.ejs %>
<h1>hello</h1>

<!-- PAGE TO LOOK UP WORDS..'POST' -->

<% include ../partials/boilerplate %>


<% words.forEach(word => { %>
  <div class="word">
    <h4>
        <%= word.title %>
      </a>
    </h4>
    <p><%= word.definition %></p>
  </div>
<% }) %>

<% include ../partials/end %>





