<% include ./partials/boilerplate %>

<!-- this is the form that takes in a word with name ="wordsubmitted" -->

<form id="look-up-word" method="POST" action="/words/results">
  <label for="word">Look up a word</label>
  <input id="word-retrieval" type="text" name="wordsubmitted" placeholder="any word">
  <input id="word-submit" type="submit" value="enter"/>
</form>


<% include ./partials/end %>


