

<% include ../partials/boilerplate %>


<% word.forEach(words => { %>
  <div class="word">
    <h4>
        <%= words.title %>
    </h4>
    <h4>
        <%= words.definition %>
    </h4>
  </div>

 <a href="/words/<%=words.id%>">See more</a>

<% }) %>



<% include ../partials/end %>


