<% include ../partials/boilerplate %>


<% word.forEach(words => { %>
  <div class="wordInList row top-xs">
    <div class="word col-xs">
      <h1 class="word-title">
          <%= words.title %>
      </h1>
    </div>
    <div class="col-xs">
      <p><%= words.definition %></p>
    </div>
    <div class="col-xs button">
      <button><a href="/words/<%=words.id%>">See more</a></button>
    </div>
  </div>
<% }) %>


<% include ../partials/end %>


